# OmniData 环境配置文件示例
# 复制此文件为 .env 并根据需要修改配置

# 应用配置
OMNIDATA_APP_NAME=OmniData
OMNIDATA_APP_VERSION=0.1.0
OMNIDATA_DEBUG=false


# 浏览器配置
OMNIDATA_BROWSER__HEADLESS=true
# Playwright 操作超时时间（毫秒）
OMNIDATA_BROWSER__DEFAULT_TIMEOUT=8000
# Context Pool 配置
# 最多缓存的 context 数量，内部采用lru进行，可以控制过多的浏览器context，导致占用内存过多的问题（实际占用很少），设置为负数则不启用
OMNIDATA_BROWSER__CONTEXT_POOL_MAX_SIZE=10
# Context 空闲超时时间（秒），超过该时间关闭context以节省资源，设置为负数则不启用
OMNIDATA_BROWSER__CONTEXT_IDLE_TIMEOUT=600

# Redis 配置
OMNIDATA_REDIS__HOST=localhost
OMNIDATA_REDIS__PORT=6379
OMNIDATA_REDIS__DB=0
OMNIDATA_REDIS__PASSWORD=your_password
# 连接池配置
OMNIDATA_REDIS__MAX_CONNECTIONS=10

# 登录器配置
# 登录状态检查的最大并发数
OMNIDATA_LOGIN__CHECK_CONCURRENCY=5
# 单次检查的超时时间（秒）
OMNIDATA_LOGIN__CHECK_TIMEOUT=30
